	nav {
		color: black;
		width: 100%;		
		padding: 1%;
		position: sticky;
		display: inline-block;
		background-image: url("../images/futamata.gif");
		background-repeat: repeat-x;
		background-position: center;
		border-bottom: 1px solid white;
		margin-bottom: 10px;
	}
	
	nav h1 {
		color: white;
		font-weight: normal;
		font-size: 40px;
		text-shadow: 1px 1px #4d0d15;
	}
	
	body {
        font-family: Verdana;
		color: white;
		background-color: black;
		font-size: 20px;
    }
	
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image {
		flex-basis: 40%;
	}

	.text {
		font-size: 20px;
		padding-left: 20px;
	}
	
	footer li a:link {
		display: inline;
	}
		
	footer li a:hover {
		background-color: black;
		color: white;
	}
	
	footer li a:active {
		background-color: black;
		color: white;
	}

	footer li {
        margin-right: 20px;
		padding-left: 10px;
        font-size: 18px;
		float: none;
    }
		
	footer {
		margin-left: 20px;
	}
	
	#socmed a {
			display: block;
			position: relative;
		}
 
		#socmed a.facebook {
			height: 25px;
			left: -0px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 0 -28px;
		}
		
		#socmed a.youtube {
			height: 25px;
			left: -7px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 48px -28px;
		}
		
		#socmed a.instagram {
			height: 25px;
			left: -14px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 24px -28px;
		}
		
		#socmed a:hover.facebook {
			height: 25px;
			left: -0px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 0 0px;
		}
		
		#socmed a:hover.youtube {
			height: 25px;
			left: -7px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 48px 0px;
		}
		
		#socmed a:hover.instagram {
			height: 25px;
			left: -14px;
			width: 24px;
			float: right;
			background: url('../images/sprite.png') 24px 0px;
		}